main {
  padding-block: 2rem;
}

.content {
  --gap: clamp(1rem, 6vw, 3rem);
  --content: min(60ch, 100% - var(--gap) * 2);
  --breakout: minmax(0, 5rem);
  --full-width: minmax(var(--gap), 1fr);

  display: grid;
  grid-template-columns:
    [full-width-start] var(--full-width)
    [breakout-start] var(--breakout)
    [content-start] var(--content) [content-end]
    var(--breakout) [breakout-end]
    var(--full-width) [full-width-end];
}

.content > * {
  grid-column: content;
}

main .figure {
  margin-block: 12px;
}

main img {
  border-radius: 0.5rem;
  box-shadow: #00000080 0 4px 12px;
}