:root {
  --clr-white: hsl(0 0 100%);
  --clr-gray-90: hsl(0 0 90%);
  --clr-gray-70: hsl(0 0 70%);
  --clr-gray-50: hsl(0 0 50%);
  --clr-gray-30: hsl(0 0 30%);
  --clr-gray-10: hsl(0 0 10%);
  --clr-black: hsl(0 0 0);
  --clr-blue: hsl(240, 100%, 70%);
  --clr-purple: hsl(280, 100%, 65%);
}